<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Insert To DB</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="jumbotron">

        <form action="/" method="get">
            <div class="form-group">
                <center>
                    <input type="submit" class="btn btn-primary" value="Main Page" />
                </center>
            </div>
        </form>

        <form action="/inserting" method="get">

            <div class="form-group">

                <b><center><h2>Please Enter the following fields</h2></center></b>
                <hr class="my-4">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-id">Id: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter ID" aria-label="ID" name="id" aria-describedby="basic-id">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-name">Name: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Name" aria-label="Name" name="name" aria-describedby="basic-name">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-password">Password: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Password" aria-label="Password" name="password" aria-describedby="basic-password">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-location">Location: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Location" aria-label="Location" name="location" aria-describedby="basic-location">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-age">Age: </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Enter Age" aria-label="Age" name="age" aria-describedby="basic-age">
                </div>

                <hr class="my-4">
                <input type="submit" class="btn btn-success btn btn-primary btn-lg" value="Submit" />

                <p></p>
                <div class="alert alert-warning">
                    <p th:text="${errormessage}"></p>
                </div>

            </div>
        </form>
    </div>
</div>
</body>
</html>